In [1]:
import sqlite3
import pandas as pd

In [13]:
conn = sqlite3.connect('C://Users//akhil//Desktop//HAP 880//Week 2//testclaims_hu.db')

In [14]:
df = pd.read_sql('select * from highUtilizationPredictionV2wco', conn)

In [15]:
df=df.join(pd.get_dummies(df.race))

In [16]:
df.head()

,index,race,age,patient_id,ELIX1,ELIX2,ELIX3,ELIX4,ELIX5,ELIX6,...,drugs_m11-12,HighUtilizationY2,claimCount,A,Am.N,B,H,O,U,W
0,0,B,71,PAT136597,0,0,0,0,0,1,...,1,1,160,0,0,1,0,0,0,0
1,1,A,86,PAT119838,0,0,0,0,0,0,...,0,0,24,1,0,0,0,0,0,0
2,2,W,70,PAT11289,1,0,0,0,0,0,...,0,0,52,0,0,0,0,0,0,1
3,3,W,75,PAT178745,0,0,0,0,1,0,...,0,0,15,0,0,0,0,0,0,1
4,4,W,77,PAT50922,0,0,0,0,1,0,...,4,0,66,0,0,0,0,0,0,1

In [17]:
cols=list(df.columns)

In [18]:
cols.remove('index')
cols.remove('race')
cols.remove('patient_id')
cols.remove('HighUtilizationY2')
cols.remove('claimCount')

In [19]:
sz=df.index.size

In [20]:
from sklearn.utils import shuffle
df=shuffle(df)

In [23]:
import numpy as np
rnd=np.random.rand(1,sz)
df['rnd']=list(rnd[0])
df=df.sort_values('rnd')

In [24]:
tr=df[:int(sz*0.8)] # split to training and testing
ts=df[int(sz*0.8):] # testing

In [26]:
#Random Forest classifier

In [43]:
from sklearn.ensemble import RandomForestClassifier

In [44]:
rf = RandomForestClassifier()

In [45]:
rf.fit(tr[cols], tr['HighUtilizationY2'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [46]:
probs_rf = rf.predict_proba(ts[cols])

In [47]:
res = pd.DataFrame()

In [48]:
res['HighUtilizationY2'] = ts['HighUtilizationY2']

In [49]:
res['rf'] = probs_rf[:,1]

In [50]:
res

        HighUtilizationY2        rf
101306                  0  0.300000
111939                  0  0.100000
68060                   0  0.000000
12799                   0  0.000000
92255                   0  0.100000
87400                   0  0.000000
39557                   0  0.000000
49225                   1  0.000000
12836                   0  0.000000
85320                   0  0.100000
54376                   0  0.000000
65944                   0  0.100000
21101                   0  0.000000
11919                   0  0.000000
27495                   1  0.900000
47521                   1  0.000000
45823                   0  0.000000
93358                   0  0.000000
60477                   0  0.000000
93795                   0  0.000000
104412                  0  0.000000
70524                   0  0.100000
37562                   0  0.100000
16102                   0  0.200000
84166                   0  0.000000
108202                  0  0.100000
37686                   1  0.100000
101102                  0  0.000000
81982                   0  0.000000
72573                   0  0.000000
...                   ...       ...
100169                  0  0.000000
4985                    0  0.000000
29776                   0  0.200000
47402                   1  0.000000
99117                   0  0.000000
89396                   0  0.008696
85365                   0  0.000000
9047                    1  0.700000
74420                   0  0.000000
1282                    0  0.200000
85743                   0  0.000000
78688                   0  0.100000
77479                   0  0.100000
52910                   0  0.100000
112070                  1  0.400000
75967                   0  0.000000
19956                   0  0.400000
101034                  0  0.000000
65434                   0  0.000000
35499                   0  0.200000
40585                   0  0.000000
108313                  0  0.000000
51571                   0  0.000000
86495                   0  0.000000
55667                   0  0.000000
74220                   0  0.000000
90609                   0  0.100000
81934                   0  0.000000
13167                   0  0.000000
55813                   0  0.000000

[22605 rows x 2 columns]